.todo-wrapper {
    width: 50rem;
    margin: 4rem auto;
}

.add-input {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.add-input>input {
    padding: 8px;
    border: 1px solid #000;
}

.add-input>input:focus {
    outline: 1px solid #000;
}

.add-input>button {
    width: 100px;
    cursor: pointer;
}

.todo {
    margin: 0.8rem 0;
}

.todo-title {
    font-style: bold;
    font-size: 1.5rem;
}

.checked {
    text-decoration: line-through;
    color: red;
}